/* .side{
    width: 10%;
    float: left;
    background-color: white;
    height: 400px;
    border-style: groove;
    border-color: transparent;
}
.main{
    width: 86%;
    float: right;
    background-color: gainsboro;
    height: 400px;  
}
.div-container{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-color: black;
}
.content{
    background-color: white;
    height: 330px;
    border-color: black;
}
.content-container{
    padding: 10px;
    border-color: blue;
}
.button{
    border-style: none;
    margin-top: 20px;
    border-radius: 10px 10px 0px 0px;
    height: 30px;
}
.heading{
    background-color: rgb(146, 141, 141);
    height: 50px;
    border-radius: 10px 10px 0px 0px;
}
.footer{
    height:50px ;
    background-color: aqua;
    border-right: 0px 0px 10px 10px;
    border-style: groove;
} */

/* ---------------------- */
.navbar{
    width: 5%;
    /* top: 0; */
    position: fixed;
    height: 500px;
    
}


.navbar-nav{
 text-align: justify;
 margin-top: 0px;
}
.bottom-div{
    width: 700px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
    border-style: solid;
    border-color: transparent;
  }

  .fav
  {
      margin-left: 550px;
      background-color: #06854a;
      text-align: center;
      border-radius: 5px;
      height: 30px;
      
  }
  .top-div{
      width: 700px;
      height: 50px;
      border-radius: 5px 5px 0px 0px;
      background-color: whitesmoke;
      color: black;
      font-size: larger;
      font-weight: bold;

  }