

<!--navbar-->
<div class="top-div">
 <h1> Report Filters</h1>
</div>
<nav class="navbar bg-white">
  <div class="container-fluid">
    <div class="navbar-nav">
      <div class="nav-item">
        <a class="nav-link" (click)="ShowBreadcrumbs()">Link 1</a>
        
      </div>
      <div class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </div>
    </div>
  </div>
</nav>
<div *ngIf="breadcrumbsShow"><app-sidebar></app-sidebar> </div>
<div class="bottom-div">
  <div class="fav">Generate Report</div>
</div>
<!-- <div class="container-fluid mt-3 report-filter-content">
  <h3>Vertical Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div> -->


<!--navbar-->



<!-- Modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div> -->
<!-- ----modal end--- -->