<!-- <p>page works!</p> -->
<div class="data-group">
  
    <div>
  
      <div class="container">
        <div class="data-group-back">
        Dropdown View <br><br>
        <div class="row">
          <div class="col">
            
            <div class="container">
              <div class="row">
                <label style="display: inline-flex; color: rgb(150, 148, 148);">Page&nbsp;&nbsp;
                  &nbsp;                <div class="dropdown">
                    <div class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="list-group-item" href="#">Action</a></li>
                      <li><a class="list-group-item" href="#">Another action</a></li>
                      <li><a class="list-group-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                </label>
              </div><br>
              <div class="row">
                <label style="display: inline-flex; color: rgb(150, 148, 148);">Charts&nbsp;&nbsp;
                  <div class="dropdown">
                    <div class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="list-group-item" href="#">Action</a></li>
                      <li><a class="list-group-item" href="#">Another action</a></li>
                      <li><a class="list-group-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                </label>
              </div>
            </div>
          </div><br>
          <div class="col">
            
            <div class="container">
              <div class="row">
                <label style="display: inline-flex; color: rgb(150, 148, 148);">Sequence&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <div class="dropdown">
                    <div class=" dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="list-group-item" href="#">Action</a></li>
                      <li><a class="list-group-item" href="#">Another action</a></li>
                      <li><a class="list-group-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                </label>
              </div><br>
              <!-- <div class="row">
                <label style="display: inline-flex; color: rgb(150, 148, 148);">Print Group&nbsp;&nbsp;
                  <div class="dropdown">
                    <div class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="list-group-item" href="#">Action</a></li>
                      <li><a class="list-group-item" href="#">Another action</a></li>
                      <li><a class="list-group-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                </label>
              </div><br> -->
            </div>
          </div>
          
        </div>
      </div>
      </div>
    </div>
  </div>
  