
<div class="container">

  <br><div class="row1">
    <div class="col-md-4">
      <div> <button class="btn btn" style="border-radius:5px 5px 0px 0px; background-color: rgba(6,133,74,255);color: white;left: 0; position: absolute;"  >Summary</button></div>
    </div> 
    <div class="col-md-4">Description</div>
    <div class="col-md-4">xxx</div>
  </div><br>
  
    <div class="row">
      <div class="col-md-4">
        Column
      </div>
      <div class="col-md-4">
        Column
      </div>
      <div class="col-md-4">
        Column
      </div>
    </div><br>

    <div class="row">
      <div class="col-md-4">
        Column
      </div>
      <div class="col-md-4">
        Column
      </div>
      <div class="col-md-4">
        Column
      </div>
    </div><br>

    <div class="row">
      <div class="col-md-4">
        Column
      </div>
      <div class="col-md-4">
        Column
      </div>
      <div class="col-md-4">
        Column
      </div>
    </div><br>
    
    <div class="row">
      <div class="col-md-4">
        Column
      </div>
      <div class="col-md-4">
        Column
      </div>
      <div class="col-md-4">
        Column
      </div>
    </div>
  </div>

