<!-- <p>shiftsummary works!</p> -->
<br><div>
  <div class="row">
    <div class="col">
      <div>
        <app-sidenav></app-sidenav>
      </div>
    </div>
    </div>
 
    <br>
    <div class="row">
      <div class="col">
        <div class="control-chart">
          Control Chart:(12/21)
          <hr>
          <div><img src="assets/controlchart1.png" alt="" style="width: 700px;height: 150px;margin-left: 30px;"></div><br>
          <div><img src="assets/controlchart2.webp" alt="" style="width: 700px;height: 150px;margin-left: 30px;"></div>
      </div>
      </div>
      </div>
    <br>

    <div class="row">
      <div class="col">
        <div class="Histogram">
          Histogram
          <hr>
          <div class="row">
              <div class="col-md-8">
                  <img src="assets/histogram1.jpg" alt="" style="width: 700px;height: 250px;margin-left: 30px;">
              </div>
              <div class="col-md-4">
                  &nbsp;<img src="assets/statusbar.jpg" alt="" style="width: 250px;height: 250px;margin-left: 30px;">
              </div>
            </div>
      </div>
      </div>
    </div>

