<p>shiftsummary works!</p>
<div>
    <div class="filter">
        Filters
        
    </div><br>
    <div class="control-chart">
        Control Chart:(12/21)
        <hr>
        <div><img src="assets/controlchart1.png" alt="" style="width: 700px;height: 150px;margin-left: 30px;"></div><br>
        <div><img src="assets/controlchart2.webp" alt="" style="width: 700px;height: 150px;margin-left: 30px;"></div>
    </div><br>
    <div class="Histogram">
        <div class="row">
            <div class="col-md-8">
                <img src="assets/histogram1.jpg" alt="" style="width: 700px;height: 250px;margin-left: 30px;">
            </div>
            <div class="col-md-4">
                <img src="assets/statusbar.jpg" alt="" style="width: 300px;height: 250px;margin-left: 30px;">
            </div>
          </div>
    </div>
</div>
