.control-chart{
    height: 500px;
    background-color: white;
    margin-left: 4%;
    margin-right: 3%;
    width: 86%;
}
.hline{
  border-top: 2px ridge rgb(90, 88, 88);
}
.div1{
    float: left;
    width: 5%;
}
.Histogram{
    height: 300px;
    background-color: white;
    margin-left: 4%;
    margin-right: 3%;
    width: 86%;
}
.accordion-button{
      display: block;
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 5px;
      outline: none;
      background: white;
      color: black;
      text-align: left; 
       cursor: pointer; 
      height: 50px;
      /* transition: background 0.2s; */
      margin-right: 30px;
      margin-right: 30px;     
  }
  .edit{
      float: right;
      width: 30px;
      height: 30px;
      /* border: 1px solid #CAD5E0; */
      /* margin-right: 30px; */
      /* background-color: #06854a; */
      padding: 5px;
      /* border-radius: 0px 0px 5px 0px; */
  }
  .edit path{
      fill:#06854a;     
  }
