<!-- <h2>Breadcrumb Pagination</h2> -->
<div class="main-div ">
  <ul class="breadcrumb">
    <div class="container">
      <div class="row ">
        <div class="col-md-3">
          <li><a href="#">Group </a></li>
        </div>
        <div class="col-md-2">
          <li><a (click)="Show()">Data Group</a></li>
        </div>
        <div class="col-md-2">
          <li><a href="#">Page</a></li>
        </div>
        <div class="col-md-2">
          <li><a href="#">Grouping </a></li>
        </div>
        <div class="col-md-2">
          <li><a href="#">Print Group  </a></li>
        </div>
        <div class="col-md-1">
          
        </div>
      </div>
    </div>
  </ul>
  <div *ngIf="ShowMe"><app-data-group></app-data-group> </div>
</div>
<div class="bottom-div">
  <button>hello</button>
</div>
