
.breadcrumb{
margin-left: 10%;
/* padding: 20px; */
text-decoration: none;
}
.bread{
  height: 20px;
}
.main-div{
  width: 700px;
  height: 500px;
  background-color: gainsboro;
  
}
.bottom-div{
  width: 700px;
  background-color: black;
  border-radius: 0px 0px 5px 5px;
}

.favourite{
  float: right;
}
.fav
{
  margin-right: 0;
}
a:hover{
  background-color: white;
}