.arrow{
    width: 15px;
    height: 15px;
}
.pg1{
    list-style: none;
}
.form-check-input{
    border-style: solid;
}
.form-check-input:checked{

    background-color: green;
}
.dropdown-item{
color: rgb(116, 111, 111);
}
.dropdown-item:hover{
    background-color: transparent;
}
.div1{
    /* margin-left: 50px; */
}



.data-group{
    background-color: white;
    width: 610px;
    height: 400px;
    border-style: ridge;
    border-color: transparent;
    margin-left: 12%;
}
.dropdown{
  
}
.dropdown-toggle{
    width: 150px;
    height: 30px;
    border-color: rgb(211, 209, 209);
    border-style: ridge;
    border-width: 1.5px;
    background-color: whitesmoke;
    float: right;
}
.dropdown-menu{
    border-color: transparent;
}

