<!-- 

  <div class="div1" (click)="PrintGroup1()">
    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
      <path 
        d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
      />
    </svg>
    <span > Print Group 1</span>
  </div>
  <div class="div3" *ngIf="group1">
    <ul class="pg1">
      <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 1</a></li>
      <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Characteristic 1</a></li>
      <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 1</a></li>
      <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 1</a></li>
      <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Characteristic 1</a></li>
    </ul>

</div>

  <div class="div1" (click)="PrintGroup2()">
    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
      <path 
        d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
      />
    </svg>
    <span > Print Group 2</span>
  </div>
<div class="div3" *ngIf="group2">
    <ul class="pg1">
        <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 2</a></li>
        <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Characteristic 2</a></li>
        <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 2</a></li>
        <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 2</a></li>
        <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Characteristic 2</a></li>
    </ul>

</div>
<div class="div1" (click)="PrintGroup2()">
    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
      <path 
        d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
      />
    </svg>
    <span > Print Group 2</span>
  </div>
  <div class="div1" (click)="PrintGroup2()">
    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
      <path 
        d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
      />
    </svg>
    <span > Print Group 2</span>
  </div>
  <div class="div1" (click)="PrintGroup2()">
    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
      <path 
        d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
      />
    </svg>
    <span > Print Group 2</span>
  </div> -->




  <div class="data-group">
  
    <div>
  
      <div class="container">
        <div class="data-group-back">
        Dropdown View <br><br>
        <div class="div1" (click)="PrintGroup1()">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
              <path 
                d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
              />
            </svg>
            <span > Print Group 1</span>
          </div>
          <div class="div3" *ngIf="group1">
            <ul class="pg1">
              <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 1</a></li>
              <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Characteristic 1</a></li>
              <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 1</a></li>
              <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 1</a></li>
              <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Characteristic 1</a></li>
            </ul>
        
        </div>
        
          <div class="div1" (click)="PrintGroup2()">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
              <path 
                d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
              />
            </svg>
            <span > Print Group 2</span>
          </div>
        <div class="div3" *ngIf="group2">
            <ul class="pg1">
                <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 2</a></li>
                <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Characteristic 2</a></li>
                <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 2</a></li>
                <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Characteristic 2</a></li>
                <li><a class="dropdown-item" href="#">  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Characteristic 2</a></li>
            </ul>
        
        </div>
        <div class="div1" (click)="PrintGroup2()">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
              <path 
                d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
              />
            </svg>
            <span > Print Group 3</span>
          </div>
          <div class="div1" (click)="PrintGroup2()">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
              <path 
                d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
              />
            </svg>
            <span > Print Group 4</span>
          </div>
          <div class="div1" (click)="PrintGroup2()">
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
              <path 
                d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
              />
            </svg>
            <span > Print Group 5</span>
          </div>
      </div>
      </div>
    </div>
  </div>
  




  


