<!-- <p>filters works!</p> -->
<div class="container">
    <!-- row 1 start -->
    <div class="row page">
      <div class="col-md-3 pages">
        <ul class="" style="list-style-type: none;">
            <li class="">Pages</li>
            <li class=""><strong> 10</strong>  <svg  class="caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"/></svg></li> 
          </ul>
      </div>
      <div class="col-md-3 pages">
        <ul class="" style="list-style-type: none;">
            <li class="">Pages</li>
            <li class=""><strong> 10</strong> <svg class="caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path   d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"/></svg> </li>
          </ul>
      </div>
      <div class="col-md-3 pages">
        <ul class="" style="list-style-type: none;">
            <li class="">Pages</li>
            <li class=""><strong> 10</strong> <svg class="caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path   d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"/></svg> </li>
          </ul>
      </div>
      <div class="col-md-3 ">
        <ul class="" style="list-style-type: none;">
            <li class="">Pages</li>
            <li class=""><strong> 10</strong> <svg class="caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path   d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"/></svg> </li>
          </ul>
      </div>
    </div>
     <!-- row 1 end -->
     <hr class="horiz-line">
     <!-- row 2 start -->
    <div class="row2">
        <div class="col-md-3 pages1">
           Start Date &Time: xxx
        </div>
        <div class="col-md-3 pages1">
            End Date &Time: yyy
        </div>
        <div class="col-md-3 pages1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Independent Date&Time
                </label>
              </div>
        </div>
        <div class="col-md-3 pages1">
          Sub Group per chart: 40
        </div>
      </div><br>
       <!-- row 2 end -->
      <hr class="horiz-line">

       <!-- row 3 start -->
      <div class="row3">
        <div class="col-md-2 pages2">
          Parameter: <strong>Method</strong> 
        </div>
        <div class="col-md-2 pages2">
          Operator:<strong>>=</strong> 
        </div>
        <div class="col-md-2 pages2">
          Test Condition: <strong>200</strong>
        </div>
        <div class="col-md-2 pages2">
            Operation:  <strong>Add</strong>
          </div>
          <div class="col-md-2 pages2">
            Column
          </div>
          <div class="col-md-2 pages2">
            Column
          </div>
      </div>
       <!-- row 3 end -->

  </div>
