/* .container{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-right: 60px;
    margin-left: 30px;
} */

.pages{

    border-right-style: dotted;
    border-color: darkgray;
    text-align: center;
}
.caret{
    float: right;
      fill: #06854a;
      width: 10px;
      height: 10px;
} 

.horiz-line{
 border-top-style: 2px black;
}
.div1{
    width: 2%;
    float: left;
    background-color: transparent;
    height: 30px;
    margin-left: 2%;
  
  }
  .div2{
    width: 86%;
    margin-top: 2px;
    /* float: right; */
    background-color: white;
    height: 40px;
    /* margin-right: 7%; */
    margin-left: 4%;
    font-size: 18px;
    font-weight:500;
  }
  .div3{
    background-color: white;
    width: 86%;
    /* float: right; */
    margin-left: 4%;
  }
  .edit{
      width: 20px;
      height: 20px;
      fill: #06854a;
      float:right;
  }
  .arrow{
    width: 20px;
    height: 20px;
    fill: #06854a;
  }
  .head-font{
    color: rgb(98, 94, 94);
    font-weight: 500;
    font-size: 14px;
  }
  .sub-font{
    font-size: 20px;
  }
  .row2-sub-font{
    color: black;
  }
  /* 
 */
 .search-div{
  width: 300;
  height: 25px;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
  box-shadow: 2px 2px rgb(142, 138, 138);
  
}

.search{
  width: 15px;
  height: 15px;
  fill: gray;
 float: left;
}
.main-list{
  width: 50px;
/* text-align: center; */
  /* border-radius: 10px; */
  /* border-color: transparent; */
  overflow:hidden; 
  overflow-y:scroll;
  height: 200px;
  font-size: 15px;

}
.main-list1{
  border-color: transparent;
  overflow:hidden; 
  overflow-y:scroll;
  height: 200px;
  font-size: 15px;
  /* text-align: center; */

}

::-webkit-scrollbar{
   display: none;
}
.modal-backdrop{
  z-index: -1
}  
.modal-dialog {
  width: 700px;
} 
  