<div class="div1" (click)="HideShow()">
  <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
    <path
      d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
    />
  </svg>
</div>
<div class="div2">&nbsp;&nbsp; Filters</div>
<div class="div3" *ngIf="ShowHide">
  <!-- <p>filters works!</p> -->
  <div class="container">
    <!-- row 1 start -->
    <div class="row page">
      <div class="col-md-3 pages">
        <div class="" style="list-style-type: none">
          <li class="head-font">Pages</li>
          <li class="sub-font">
            <strong> 10</strong>
            <svg
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              class="dropdown-toggle caret"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                class="caret-down"
                d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"
              />
            </svg>
            <div
              class="dropdown-menu main-list"
              aria-labelledby="dropdownMenuLink"
            >
              <li class="list-group-item">
                <div class="search-div">
                  <svg
                    class="search"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"
                    />
                  </svg>
                </div>
              </li>
              <li class="list-group-item">Page 1</li>
              <li class="list-group-item">Page 2</li>
              <li class="list-group-item">Page 3</li>
              <li class="list-group-item">Page 4</li>
              <li class="list-group-item">Page 5</li>
              <li class="list-group-item">Page 6</li>
              <li class="list-group-item">Page 7</li>
              <li class="list-group-item">Page 8</li>
              <li class="list-group-item">Page 10</li>
            </div>
          </li>
        </div>
      </div>
      <div class="col-md-3 pages">
        <ul class="" style="list-style-type: none">
          <li class="head-font">Sequence</li>
          <li class="sub-font">
            <strong> 10</strong>
            <svg
              class="caret"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"
              />
            </svg>
          </li>
        </ul>
      </div>

      <div class="col-md-3 pages">
        <ul class="" style="list-style-type: none">
          <li class="head-font">Charts</li>
          <li class="sub-font">
            <strong> 10</strong>
            <svg
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              class="dropdown-toggle caret"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"
              />
            </svg>
            <ul
              class="dropdown-menu main-list1"
              aria-labelledby="dropdownMenuLink"
            >
              <li class="list-group-item">
                <div class="search-div">
                  <svg
                    class="search"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"
                    />
                  </svg>
                </div>
              </li>
              <li class="list-group-item">Characteristic 1</li>
              <li class="list-group-item">Characteristic 2</li>
              <li class="list-group-item">Characteristic 3</li>
              <li class="list-group-item">Characteristic 4</li>
              <li class="list-group-item">Characteristic 5</li>
              <li class="list-group-item">Characteristic 6</li>
              <li class="list-group-item">Characteristic 7</li>
              <li class="list-group-item">Characteristic 8</li>
              <li class="list-group-item">Characteristic 10</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="" style="list-style-type: none">
          <li class="head-font">Print Group</li>
          <li class="sub-font">
            <strong> 10</strong>
            <svg
              class="caret"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"
              />
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <!-- row 1 end -->
    <hr class="horiz-line" />
    <!-- row 2 start -->
    <div class="row">
      <div class="col-md-3">
        Start Date &Time: <strong class="row2-sub-font"> xxx</strong>
      </div>
      <div class="col-md-3">
        End Date &Time: <strong class="row2-sub-font"> yyy</strong>
      </div>
      <div class="col-md-3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label row2-sub-font" for="flexCheckDefault">
            Independent Date&Time
          </label>
        </div>
      </div>
      <div class="col-md-3">
        Sub Group per chart: <strong class="row2-sub-font"> 40</strong>
      </div>
    </div>
    <br />
    <!-- row 2 end -->
    <hr class="horiz-line" />

    <!-- row 3 start -->
    <div class="row">
      <div class="col-md-2 pages2">Parameter: <strong>Method</strong></div>
      <div class="col-md-2 pages2">Operator:<strong>>=</strong></div>
      <div class="col-md-2 pages2">Test Condition: <strong>200</strong></div>
      <div class="col-md-2 pages2">Operation: <strong>Add</strong></div>
      <div class="col-md-2 pages2"></div>

      <div class="col-md-2 pages2">
        <svg  class="edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"  ><path data-bs-toggle="modal" data-bs-target="#myModal" d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z" /> </svg>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div> -->

      <!-- Modal body -->
      <div class="modal-body">
       <app-report-filters></app-report-filters>
      </div>

      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
</div>
      </div>
    </div>
    <!-- row 3 end -->
  </div>
</div>
