.div1{
  width: 8%;
  float: left;
  background-color: green;
  height: 30px;
  margin-left: 2%;

}
.div2{
  width: 88%;
  float: right;
  background-color: blue;
  height: 30px;
  margin-right: 2%;
}
.div3{
  background-color: blue;
  width: 88%;
  float: right;
  margin-right: 2%;
}